.search{
    background: #E5E5E5;
    width: 360px;
    height: 42px;
    border-radius: 21px;
    border: none;
}
.text-color{
    color: 
    #2F6CE5;
}
.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-right: 10px;
}
.decoration{
    text-decoration: none;
    color: black;
    cursor: pointer;
    
}
.fb{
    width: 16px;
    height:16px;
    margin-right: 20px;
}
.google{
    width: 16px;
    height:16px;
    margin-right: 20px;
}
